<!--Cargar la base -->
{% extends 'base.html' %} {% load staticfiles %}


{% block content %}
<!-- el contenido de las ligas va aqui -->


<!-- aqui vamos a crear un enlace -->

<!-- Boton para Agregar equipos <a href=""  class="btn green">Agregar Equipo</a> -->

<!-- Fijate que llamamos a una url y le pasamos el nombre que está en el urls.py -->

<!-- este es un ciclo form para iterar todas los datos en un objeto -->
<ul class="collection">
{% for equipo in equipos %}
    <li class="collection-item avatar">
      <i class="material-icons circle">folder</i>
      <span class="title">{{equipo.nombre}}</span>
      <p> <b>Liga: </b> {{equipo.Liga.nombre}} <br>
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
{% endfor %}
</ul>

{% endblock %}