{% extends 'base/tabla.html' %}

{% block content %}

<table class="table table-bordered" >
    <thead>
    <try>
        <td>#</td>
        <td>posicion</td>
        <td>Equipos</td>
        <td>juegos_jugados</td>
        <td>juegos_ganados</td>
        <td>juegos_empatados</td>
        <td>juegos_perdidos</td>
        <td>goles_anotados</td> 
        <td>goles_permitidos</td> 
        <td>diferencia_goles</td> 
        <td>puntos</td>
    </try>
    </thead>  
    <tbody>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tbody>

</table>