<!--Cargar la base -->
{% extends 'base.html' %} {% load staticfiles %}


{% block content %}
<!-- el contenido de las ligas va aqui -->

<button class="btn teal darken-1">Tabla de Posiciones</button>
<button class="btn teal darken-1">Tabla de Goleo</button>
<button class="btn teal darken-1">Tarjetas</button>
<a class="btn blue darken-1" href="{% url 'agregar_equipo' %}"> Agregar Equipo</a>
<!-- aqui vamos a crear un enlace -->

<!-- Boton para crear ligas <a href="{% url 'liga_crear' %}"  class="btn green">Crear Liga</a> -->

<!-- Fijate que llamamos a una url y le pasamos el nombre que está en el urls.py -->

<!-- este es un ciclo form para iterar todas los datos en un objeto -->
<ul class="collection">
{% for liga in ligas %}
    <li class="collection-item avatar">
      <i class="material-icons circle">folder</i>
      <span class="title">{{liga.nombre}}</span>
      <p> <b>Teléfono: </b> {{liga.telefono}} <br>
         <b>Email: </b>{{liga.email}} <br>
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
{% endfor %}
</ul>

{% endblock %}