{% extends 'base.html' %} {% load staticfiles %}

{% block content %}

<ul class="collection">
    {% for jugadore in jugadores %}
    <li class="collection-item avatar">
        <i class="material-icons circle">folder</i> 
        <span class="title">{{jugadore.nombre}}</span>
        <p> <b> Apellido: </b> {{jugadore.apellido}} <br>
            <b> Edad: </b> {{jugadore.edad}} <br>
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons"></i></a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
