<!-- Aqui declaras que en este template vas a cargar los archivos estáticos -->
{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Este meta sirve para que se adapte al tamaño de la pantalla -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="UTF-8">
    <title>{% block title %} Document {% endblock %}</title>
    

    <!-- Aqui se cargan los archivos estáticos -->
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/materialize.js' %}"></script>

<header style="margin-bottom: 1%;">

  <nav>
    <div class="nav-wrapper">
    
      <a href="{% url 'ver_index'  %}" class="brand-logo">Facil Liga</a> 
      <a href="{% url 'index_equipos'  %}" class="brand-logo">Facil Liga</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <a href="{% url 'agregar_equipo' %}"  class="right hide-on-med-and-down">Agregar Equipo</a>
      <li><a href="{% url 'liga_crear' %}"  class="right hide-on-med-and-down">Crear Liga</a></li>
      <li><a href="{% url 'jugadores_crear' %}"  class="right hide-on-med-and-down">Agregar Jugador</a></li>
      
      

      </ul>
    </div>
  </nav>
        
</header>
<body>
    <!-- Dentro de este bloque se cargan los templates de las apps -->
    {% block content %} {% endblock %}
</body>
</html>